[submodule "modules/use-package"]
	path = modules/use-package
	url = https://github.com/jwiegley/use-package
[submodule "modules/evil"]
	path = modules/evil
	url = https://github.com/anishathalye/evil
[submodule "modules/magit"]
	path = modules/magit
	url = https://github.com/magit/magit
[submodule "modules/dash"]
	path = modules/dash
	url = https://github.com/magnars/dash.el
[submodule "modules/with-editor"]
	path = modules/with-editor
	url = https://github.com/magit/with-editor
[submodule "modules/ace-jump-mode"]
	path = modules/ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode
[submodule "modules/solarized-emacs"]
	path = modules/solarized-emacs
	url = https://github.com/bbatsov/solarized-emacs
[submodule "modules/eval-sexp-fu"]
	path = modules/eval-sexp-fu
	url = https://github.com/hchbaw/eval-sexp-fu.el
[submodule "modules/projectile"]
	path = modules/projectile
	url = https://github.com/bbatsov/projectile
[submodule "modules/smex"]
	path = modules/smex
	url = https://github.com/nonsequitur/smex
[submodule "modules/undo-tree"]
	path = modules/undo-tree
	url = http://www.dr-qubit.org/git/undo-tree.git
[submodule "modules/evil-surround"]
	path = modules/evil-surround
	url = http://github.com/timcharper/evil-surround
[submodule "modules/exec-path-from-shell"]
	path = modules/exec-path-from-shell
	url = http://github.com/purcell/exec-path-from-shell
[submodule "modules/ag"]
	path = modules/ag
	url = http://github.com/Wilfred/ag.el
[submodule "modules/s"]
	path = modules/s
	url = http://github.com/magnars/s.el
[submodule "modules/evil-matchit"]
	path = modules/evil-matchit
	url = http://github.com/redguardtoo/evil-matchit
[submodule "modules/company-mode"]
	path = modules/company-mode
	url = http://github.com/company-mode/company-mode
[submodule "modules/lispy"]
	path = modules/lispy
	url = http://github.com/abo-abo/lispy
[submodule "modules/clojure-mode"]
	path = modules/clojure-mode
	url = http://github.com/clojure-emacs/clojure-mode
[submodule "modules/cider"]
	path = modules/cider
	url = http://github.com/clojure-emacs/cider
[submodule "modules/clj-refactor"]
	path = modules/clj-refactor
	url = http://github.com/clojure-emacs/clj-refactor.el
[submodule "modules/cider-eval-sexp-fu"]
	path = modules/cider-eval-sexp-fu
	url = http://github.com/clojure-emacs/cider-eval-sexp-fu
[submodule "modules/avy"]
	path = modules/avy
	url = http://github.com/abo-abo/avy
[submodule "modules/iedit"]
	path = modules/iedit
	url = http://github.com/victorhge/iedit
[submodule "modules/swiper"]
	path = modules/swiper
	url = http://github.com/abo-abo/swiper
[submodule "modules/hydra"]
	path = modules/hydra
	url = http://github.com/abo-abo/hydra
[submodule "modules/spinner"]
	path = modules/spinner
	url = http://github.com/Malabarba/spinner.el
[submodule "modules/robe"]
	path = modules/robe
	url = https://github.com/dgutov/robe
[submodule "modules/inf-ruby"]
	path = modules/inf-ruby
	url = https://github.com/nonsequitur/inf-ruby
[submodule "modules/rvm"]
	path = modules/rvm
	url = https://github.com/senny/rvm.el
[submodule "modules/ensime-scala-mode"]
	path = modules/ensime-scala-mode
	url = https://github.com/ensime/emacs-scala-mode
[submodule "modules/ensime-emacs"]
	path = modules/ensime-emacs
	url = https://github.com/ensime/ensime-emacs
[submodule "modules/popup-el"]
	path = modules/popup
	url = https://github.com/auto-complete/popup-el
[submodule "modules/sbt-mode"]
	path = modules/sbt-mode
	url = https://github.com/ensime/emacs-sbt-mode
[submodule "modules/aggressive-indent-mode"]
	path = modules/aggressive-indent-mode
	url = https://github.com/Malabarba/aggressive-indent-mode
[submodule "modules/github-browse-file"]
	path = modules/github-browse-file
	url = https://github.com/osener/github-browse-file
